.image-fav {
  border: none;
  display: inline-block;
  object-fit: cover;
  padding: 20px 20px 10px 20px;
}

.favourites {
  margin-top: 80px;
  margin-bottom: 40px;
}

.fav-title {
  padding-bottom: 10px;
  padding-left: 5px;
}

.content-title {
  padding: 10px;
}
