.container-index {
  margin-top: 80px;
}

.title {
  color: white;
  .movie-title {
    padding: 10px;
  }
}

.card-movie {
  padding: 20px 20px 10px 20px;

}

.content-title {
  padding-top: 10px;
}
