.image-show {
  margin-top: 50px;
  object-fit: cover;
  min-width: 300px;
  min-height: 450px;
  margin-left: 22%;
}

.content-details {
  min-width: 300px;
  min-height: 450px;
  padding: 80px;
  text-align: justify;
  i {
    font-size: 25px;
    color: red;
  }
}

.container-show {
  padding-top: 80px;
}

@media only screen and (min-width: 1024px) {
    .container-show {
      display: flex;
    }
}

@media only screen and (min-width: 1024px) {
    .image-show {
      margin-left: 10%;
      padding-right: 30px;
    }
}

@media only screen and (min-width: 1024px) {
    .content-details {
      text-align: left;
      padding: 50px;
    }
}
