* {
  font-family: 'Montserrat', sans-serif;
  background-color: #3d3c42;
  color: white;
}

@import '~bulma';

@import 'components/common';
@import 'components/favourites';
@import 'components/indexmovies';
@import 'components/showmovies';
@import 'components/footer';
